<?xml version="1.0" encoding="UTF-8"?>
<!--
	  Mapper 인터페이스를 이용하는 또 다른 장점은 기존의 XML 을
	   그대로 사용할 수 있음.
	   이때 두가지 규칙이 있음.
	   1. Mapper 인터페이스 이름과 XML Mapper 의 네임스페이스를 반드시
		  일치시킬 것.
	   2. Mapper 인터페이스의 메서드 이름과 XML 의 id 를 반드시 일치시킴.
	   root-context.xml :: sqlSessionFactory 에 매퍼 xml 파일의 경로를 인식하게 함.
-->

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.edu.dao.IF_BoardDAO">
    
    <!--게시글 추가 쿼리  -->
	<insert id="insertBoard">
		insert into tbl_board (title,content,writer,regdate,view_count,reply_count,bod_type,bod_name) 
		values (#{title},#{content},#{writer},now(),#{view_count},#{reply_count},#{bod_type},#{bod_name}) 
	</insert>
	
	<select id="selectBoard" resultType="org.edu.vo.BoardVO">
		SELECT * FROM tbl_board 
		WHERE 1 = 1
		<include refid="sqlWhere"></include>
		ORDER BY bno DESC
		LIMIT #{startNo}, #{perPageNum} 
	</select>
		<!-- 게시글 수 세기 -->
	<select id="countBno" resultType="int">
		select count(*) from tbl_board
		where 1 = 1
	<include refid="sqlWhere"></include>
	</select>
	<!-- 게시글 수정 -->
	<update id="updateBoard">
		update tbl_board set
		title = #{title},
		content = #{content},
		writer = #{writer},
		update_date = now(),
		view_count = #{view_count},
		reply_count = #{reply_count},
		bod_type = #{bod_type},
		bod_name = #{bod_name}
		where bno = #{bno}
	</update>
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard">
		delete from tbl_board where bno = #{bno}
	</delete>
	
	<!-- 게시글 상세보기 -->
	<select id="viewBoard" resultType="org.edu.vo.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>
	
	<!-- 조회수 -->
	<update id="updateViewCount">
		update tbl_board set
		view_count = view_count + 1
		where bno = #{bno}
	</update>
	
	<!-- 공통사용 검색쿼리 -->
	<sql id="sqlWhere">
		<if test="searchType !=null">
			AND (
			title LIKE '%'||#{searchKeyword}||'%'
			OR
			content LIKE '%'||#{searchKeyword}||'%'
			OR
			writer LIKE '%'||#{searchKeyword}||'%'
			)
		</if>
		<if test="searchBoard !=null and !searchBoard.equals('')">
			AND (
			bod_type = #{searchBoard}
			)
		</if>
		<if test="searchBoard_type !=null and !searchBoard_type.equals('')">
	        AND(
	        bod_name = #{searchBoard_type}
	        )	
	    </if>
	</sql>
	
	<!-- 게시판 생성(아래) -->
	<select id ="viewBoardType" resultType="org.edu.vo.BoardTypeVO">
	select * from tbl_board_type where bod_type = #{bod_type}
	</select>
	<select id="selectBoardType" resultType="org.edu.vo.BoardTypeVO">
	select * from tbl_board_type order by bod_sun asc
	</select>
	<insert id="insertBoardType">
	insert into tbl_board_type(bod_type, bod_name, bod_sun) values(#{bod_type},#{bod_name},#{bod_sun})
	</insert>
	<update id="updateBoardType">
	update tbl_board_type set
	bod_type = #{bod_type},
	bod_sun = #{bod_sun},
	where bod_name = #{bod_name},
	</update>
	<delete id="deleteBoardType">
	delete from tbl_board_type where bod_name = #{bod_name}
	</delete>
	
	<!-- 첨부파일 MySQL용 -->
	<insert id="insertAttach">
	insert into tbl_attach(full_name, bno) values (#{fullname},LAST_INSERT_ID())
	</insert>
	<select id="selectAttach" resultType="string">
	select full_name from tbl_attach where bno = #{bno} order by regdate
	</select>
	<delete id="deleteAttach">
	delete from tbl_attach where bno = #{bno}
	</delete>
	<insert id="updateAttach">
	insert into tbl_attach(full_name, bno) values (#{fullname}, #{bno})
	</insert>
	
	<!-- 게시판과 연관된 댓글 삭제 -->
	<delete id="deleteBoardReply">
		delete from tbl_reply where bno = #{bno}
	</delete>
</mapper>